body {
	font-size: 16px;
	line-height: 1.45;
}

.grid {
	height: 15em;
	width: 15em;
	overflow: scroll;
	background-color: hotpink;
	border: solid 3px indianred;
	color: white;
	padding: 0;
	list-style: none;
}

.grid li {
	height: 30px;
	margin: 0;
	padding-left: 0.5em;

	display: flex;
	align-items: center;
}

.grid li:nth-child(even) {
	background-color: deeppink;
}
